@import "tailwindcss";

@theme {
  --color-hero-blue: #0052FF;
  --color-hero-dark: #0A0A0B;
}

@keyframes toast {
  from {
    transform: translate(-50%, 20px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}